<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='styleee.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='imagens/gato-preto.ico') }}">
  <title>Cadastro</title>
</head>
<body>
  <div class="container" >
    <div class="form-container_sign-up">
      <form id="singup" method="POST" action="{{ url_for('register') }}">
        <h2>Criar Conta</h2>
        
       
        <div class="social-icons">
            <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
            <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
        </div>
      
        <div class="input-box">
          <input type="text" id="username" name="username"  autocomplete="off" placeholder="Usuário" required />
          <label for="username">Usuário</label>
      </div>
      <div class="input-box">
        <input type="text" id="email" name="email" autocomplete="off" placeholder="Email" required />
        <label for="email">Email</label>
    </div>
      <div class="input-box">
          <input type="password" id="password" name="password" autocomplete="off" placeholder="Senha" required />
          <label for="password">Senha</label>
      </div>
        <p id="message" class="message"></p>
        <button type="submit" class="btn">Login</button>

      </form>    
    </div>
  <div class="container">
    {% for i in range(1, 51) %}
        <span style="--i:{{ i }};"></span>
    {% endfor %}
</div>
    
  </div>

  
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

  
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
