<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/styleeee.css">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='imagens/gato-preto.ico') }}">
  <title>Votação Musical 2024</title>
</head>
<body>
  <header>
    <h1>Vote no seu Artista Favorito!</h1>
    <p>Ajude seu ídolo a ganhar o prêmio.</p>
  </header>

  <main>
    
    <section class="voting-grid">
      <h2>Artistas</h2>

      
      <form id="vote-artista-form" action="{{ url_for('album') }}" method="GET" class="voting-grid">
        <div class="card">
          <img src="/static/imagens/artist/billie.png" alt="Billie Eilish">
          <h3>Billie Eilish</h3>
          <button class="vote-btn" name="artist" value="Billie Eilish" type="submit">Votar</button>
        </div>
        <div class="card">
          <img src="/static/imagens/artist/travis.jpg" alt="Travis Scott">
          <h3>Travis Scott</h3>
          <button class="vote-btn" name="artist" value="Travis Scott" type="submit">Votar</button>
        </div>
        <div class="card">
          <img src="/static/imagens/artist/the weeknd.jpeg" alt="The Weeknd">
          <h3>The Weeknd</h3>
          <button class="vote-btn" name="artist" value="The Weeknd" type="submit">Votar</button>
        </div>
        <div class="card">
          <img src="/static/imagens/artist/tyler.png" alt="Tyler, The Creator">
          <h3>Tyler, The Creator</h3>
          <button class="vote-btn" name="artist" value="Tyler, The Creator" type="submit">Votar</button>
        </div>
        <div class="card">
          <img src="/static/imagens/artist/taylor.jpg" alt="Taylor Swift">
          <h3>Taylor Swift</h3>
          <button class="vote-btn" name="artist" value="Taylor Swift" type="submit">Votar</button>
        </div>
        <div class="card">
          <img src="/static/imagens/artist/rihanna.jpg" alt="Rihanna">
          <h3>Rihanna</h3>
          <button class="vote-btn" name="artist" value="Rihanna" type="submit">Votar</button>
        </div>
        <div class="card">
          <img src="/static/imagens/artist/clairo.jpg" alt="Clairo">
          <h3>Clairo</h3>
          <button class="vote-btn" name="artist" value="Clairo" type="submit">Votar</button>
        </div>
      </form>
    </section>
  </main>

  
  <script src="/static/script.js"></script>
</body>
</html>
